li {
    text-align: justify;
}

.fullBackground {
    background: url("../img/fullBG.png");
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blog-post>* {
    padding-left: 30%;
}

.blog-post{
    height: 100vh;
}

h3 {
    font-family: 'Press Start 2P', cursive;
}

body {
    font-family: 'Exo', sans-serif;
}
