h3 {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url("https://s13.postimg.org/68uu6wcsn/proto_1_populated.png");
    background-size: cover;
    margin: 2rem;
    font-family: 'Space Mono', monospace;
}

.sidemenu{
    background-image: url(../img/menublank.png);
    width: 232px;
    height: 289px;
}

#menulist{
    list-style-type: none;
    padding-left: 33%;
    padding-top: 30%;
}

.active-tb {
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    transform: scale(1);
    border: 0;
    transition: 0.4s ease;
    z-index: 13;
}

.active-tb:hover {
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    transform: scale(1.25);
    border: 0;
    z-index: 15;
}

.blog-post {
    height: 100vh;
}

.blog-post h3 {
    text-align: center;
}

.centered {
    text-align: center;
    vertical-align: middle;
    /*float: left;*/
    display: inline-block;
}

.service {
    width: 100%;
    height: 320px;
    margin: 80px 0;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .service-icon-box {
    position: relative;
    top: 100px;
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px;
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .service-heading {
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .service-description {
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.service .service-icon-box>img.service-icon {
    width: 300px;
    height: 300px;
}

.service:hover {
    border-color: #00a8ff;
}

.service:hover .service-icon-box {
    top: -30px;
}

.service:hover .service-heading {
    top: -30px;
}

.service:hover .service-description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* New Layout */

.tabs-title {
  display: inline-block;
  float: none; }

/* Hover Animated Service Block */
  .service {
    width: 100%;
    height: 320px;
    margin: 80px 0;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .service .service-icon-box {
      position: relative;
      top: 100px;
      display: inline-block;
      margin-bottom: 40px;
      padding: 10px;
      background: white;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .service .service-heading {
      position: relative;
      top: 80px;
      -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .service .service-description {
      width: 80%;
      margin: 0 auto;
      opacity: 0;
      -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .service .service-icon-box > img.service-icon {
      width: 40px; }
    .service:hover {
      border-color: #00a8ff; }
    .service:hover .service-icon-box {
      top: -30px; }
    .service:hover .service-heading {
      top: -30px; }
    .service:hover .service-description {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }

/* Responsive Timeline */
/*------------------------------------
 timeline styles
------------------------------------*/
.path-container {
  margin-top: 50px;
  margin-bottom: 70px;
}
.path-container .path-item h1 {
  text-align: center;
  margin-bottom: 70px;
}
.path-container .path-item h3 {
  margin-bottom: 10px;
  line-height: 1.15;
}
.path-container .path-item p {
  font-size: emCalc(16px);
  line-height: 1.7;
  margin-bottom: 25px;
}
.path-container .path-item a {
  font-weight: bold;
  font-size: emCalc(14px);
}
.path-container .path-item .circle {
  background-color: #ccc;
  background-size: 156px 156px;
  border-radius: 50%;
  width: 156px;
  height: 156px;
  position: relative;
  margin-bottom: 180px;
  z-index: 2;
}
.path-container .path-item .circle.circle-left {
  left: -7px;
}
.path-container .path-item .circle.circle-right {
  right: -10px;
}
.path-container .line {
  background: #ddd;
  width: 2px;
  bottom: 0;
  position: absolute;
  top: 160px;
  left: 50%;
  z-index: 0;
  height: 1164px;
}

/*------------------------------------
 medium timeline styles
------------------------------------*/
@media only screen and (max-width: 800px) and (min-width: 768px) {
  .line {
    display: none !important;
  }

  .large-5.columns.path-text {
    width: 70%;
    right: 0;
    margin-left: 15px;
  }

  .path-item .large-7 {
    width: 25%;
  }

  .push-5 {
    left: 0;
    float: right;
  }

  .circle-right {
    float: left;
    right: 0px !important;
  }

  .circle-left {
    left: 0px !important;
  }
}
/*------------------------------------
 mobile timeline styles
------------------------------------*/
@media only screen and (max-width: 767px) {
  .path-container {
    text-align: center;
  }
  .path-container .circle {
    top: 0;
    right: 0;
    left: 0;
    float: none;
    margin-bottom: 30px !important;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Parallax */
body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-weight: 200;
	font-size: 20px;
}

.parallax-background {
	background-color: #0078A0;
	height: 620px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}
.parallax-content {
	max-width: 100%;
	position: relative;
	top: 500px;
	padding: 50px;
	font-size: 20px;
	background-color: #fff;
}
