.sidemenu {
    background-image: url(../img/menublank.png);
    width: 232px;
    height: 289px;
    position: fixed;
    margin-left: 2%;
    background-repeat: no-repeat;
}

#menulist {
    list-style-type: none;
    padding-left: 70px;
    padding-top: 80px;
}

#menulist a:link {
    color: white;
}

#menulist a:visited{
    color: white;
}

#menulist a:hover{
    color: #00a8ff;
}
